<h2 md-dialog-title>Labour Calculations</h2>
<md-dialog-content>
  <md-input-container>
    <input mdInput placeholder="Description" name="Description" [(ngModel)]="cfObj['length']">
  </md-input-container>
  <md-input-container>
    <input mdInput placeholder="Item" name="Item" [(ngModel)]="cfObj['breadth']">
  </md-input-container>
  <md-input-container>
    <input mdInput placeholder="Price" name="Price" [(ngModel)]="cfObj['thickness']">
  </md-input-container>
  <md-input-container>
    <input mdInput placeholder="uom" name="uom" [(ngModel)]="cfObj['uom']">
  </md-input-container>
  <md-input-container>
    <input mdInput placeholder="20mm" name="20mm" [(ngModel)]="cfObj['running_metre']">
  </md-input-container>
  <md-input-container>
    <input mdInput placeholder="50mm" name="50mm" [(ngModel)]="cfObj['rate']">
  </md-input-container>
  <md-input-container>
    <input mdInput placeholder="50mm" name="50mm" [(ngModel)]="cfObj['amount']">
  </md-input-container>
</md-dialog-content>
<md-dialog-actions>
  <button md-button md-dialog-close>Close</button>
  <button md-button (click)="dialogRef.close(cfObj)">Submit</button>
</md-dialog-actions>