<div class="container-fluid">
    <div class="row">
        <div class="col-md-4" style="border:0px solid red;">
            <md-card style="width:100%;height:20vh;">
                <md-input-container>
                    <input mdInput type="text" placeholder="Over Head (%)" [(ngModel)]="overhead">
                </md-input-container>
                <md-input-container>
                    <input mdInput type="text" placeholder="Profit (%)" [(ngModel)]="profit">
                </md-input-container>
            </md-card>
        </div>
        <div class="col-md-4" style="border:0px solid red;">
            <md-card style="width:100%;">
                <h3 style="border-bottom:1px solid grey;">Wastages</h3>
                <md-input-container>
                    <input mdInput type="text" placeholder="Ply (%)" [(ngModel)]="ply">
                </md-input-container>
                <md-input-container>
                    <input mdInput type="text" placeholder="Laminate (%)" [(ngModel)]="laminate">
                </md-input-container>
                <md-input-container>
                    <input mdInput type="text" placeholder="veneer (%)" [(ngModel)]="veneer">
                </md-input-container>
            </md-card>
        </div>
    </div>
    <div class="row">
        <br>
    </div>
    <div class="row">
        <div class="col-md-12" style="margin-bottom:10px;">
            <h3 (click)="exp1=!exp1" style="border-bottom:1px solid grey;">Item Rate analysis</h3>
        </div>
    </div>
    <div class="row" style="border:0px solid grey;overflow-y:auto;  height:70vh;" *ngIf="exp1">
        <div class="col-md-12" style="border:0px solid grey;">
            <button md-raised-button (click)="increment1(list)" style="margin-top: 5px;">Add / Calculate Material Function</button>

            <md-card style="width:100%;margin-top: 10px;" *ngFor="let item of calcs1; let i=index;">
            <md-card-header style="float: right; padding:5px;">
                <button md-raised-button>Calculate Labor</button>
                <button md-raised-button>Add CF</button>
                <button md-raised-button (click)="deleteTable1(i)"><md-icon>delete</md-icon></button>
            </md-card-header>
            <md-card-content>
                <table>
                    <thead>
                        <tr>
                            <th width="40px;"><md-icon (click)="addRow1(i)">add circle outline</md-icon></th>
                            <th width="40px;">Sr.No</th>
                            <th width="300px;">Particular</th>
                            <th colspan="3">Size</th>
                            <th width="40px;">No</th>
                            <th width="40px;">Sqmt</th>
                            <th width="40px;">cmt</th>
                            <th width="40px;">RMT</th>
                            <th width="40px;">Rate</th>
                            <th width="40px;">Amount</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th><input type="text" class="inp" ></th>
                            <th><input type="text" class="inp" ></th>
                            <th width="40px;"><input type="text" class="inp" ></th>
                            <th width="40px;"><input type="text" class="inp" ></th>
                            <th width="40px;"><input type="text" class="inp" ></th>
                            <th><input type="text" class="inp" ></th>
                            <th><input type="text" class="inp" ></th>
                            <th><input type="text" class="inp" ></th>
                            <th><input type="text" class="inp" ></th>
                            <th><input type="text" class="inp" ></th>
                            <th><input type="text" class="inp" ></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let calc1 of calcs1[i]; let j=index">
                            <td><md-icon (click)="deleteRow1(i,j)">delete</md-icon></td>
                            <td><input type="text" class="inp" ></td>
                            <td><md-select class="inp" name="sel">
                                <md-option *ngFor="let food of dropList1" [value]="food.key">
                                  {{food.key}}
                                </md-option>
                              </md-select></td>
                            <td><input type="number" class="inp" [(ngModel)]="calcs1[i][j]['v1']"></td>
                            <td>x</td>
                            <td><input type="number" class="inp" [(ngModel)]="calcs1[i][j]['v2']"></td>
                            <td><input type="number" class="inp" [(ngModel)]="calcs1[i][j]['v3']"></td>
                            <td>{{calcs1[i][j]['v1']*calcs1[i][j]['v2']*calcs1[i][j]['v3'] | number : '2.2-3' | nan}}</td>
                            <td>{{calcs1[i][j]['v1']*calcs1[i][j]['v2']*calcs1[i][j]['v3']*0.0012 | number : '2.2-3' | nan}}</td>
                            <td>{{calcs1[i][j]['v1']*calcs1[i][j]['v2']*calcs1[i][j]['v3']*0.0012*8000 | number : '2.2-3' | nan}}</td>
                            <td><input type="number" class="inp" [(ngModel)]="calcs1[i][j]['v4']"></td>
                            <td>{{calcs1[i][j]['v1']*calcs1[i][j]['v2']*calcs1[i][j]['v3']*0.0012*8000*calcs1[i][j]['v4'] | number : '2.2-3'| nan }}</td>
                        </tr>
                    </tbody>
                </table>
            </md-card-content>
            <md-card-actions>
                <button md-button (click)="grandTotal(i)"><b>GrandTotal:{{grandTotalV}}</b></button>
              </md-card-actions>
            </md-card>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="margin-bottom:10px;">
            <h3 (click)="exp2=!exp2" style="border-bottom:1px solid grey;">Overheads Rate analysis</h3>
        </div>
    </div>
    <div class="row" style="border:0px solid red;overflow-y:auto;  height:70vh;" *ngIf="exp2">
        <div class="col-md-12" style="border:0px solid red;">
<!--             <button md-raised-button (click)="increment2(list)">Add / Calculate Material Function</button> -->

            <md-card style="width:100%;">
            <md-card-content>
                <table>
                    <thead>
                        <tr>
                            <th width="40px;"><md-icon (click)="addRow2(0)">add circle outline</md-icon></th>
                            <th width="40px;">Sr.No</th>
                            <th width="300px;">Description</th>
                            <th width="40px;">Unit</th>
                            <th width="40px;">Duration</th>
                            <th width="40px;">Count</th>
                            <th width="40px;">Quantity</th>
                            <th width="40px;">Rate</th>
                            <th width="40px;">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let calc2 of calcs2; let j=index">
                            <td><md-icon (click)="deleteRow2(0,j)">delete</md-icon></td>
                            <!-- delete button -->
                            <td><input type="text" class="inp" ></td>
                            <!-- Sr. No -->
                            <td><md-select class="inp" name="sel">
                                <md-option *ngFor="let food of dropList2" [value]="food.key">
                                  {{food.key}}
                                </md-option>
                              </md-select></td>
                            <!-- Description -->
                            <td><input type="text" class="inp" ></td>
                            <!-- Unit -->
                            <td><input type="text" class="inp" [(ngModel)]="calc2['v1']" ></td>
                            <!-- Duration -->
                            <td><input type="number" class="inp" [(ngModel)]="calc2['v2']" ></td>
                            <!-- Count -->
                            <td>{{calc2['v1']*calc2['v2'] | number : '2.2-3' | nan}}</td>
                            <!-- Quantity -->
                            <td><input type="number" class="inp" [(ngModel)]="calc2['v3']" ></td>
                            <!-- Rate -->
                            <td>{{calc2['v1']*calc2['v2']*calc2['v3'] | number : '2.2-3' | nan}}</td>
                            <!-- amount -->
                        </tr>
                    </tbody>
                </table>
                <md-card-actions>
                <button md-button  (click)="grandTotal2()"><b>GrandTotal:{{grandTotal2V}}</b></button>
              </md-card-actions>
            </md-card-content>

            </md-card>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-12" style="margin-bottom:10px;">
            <h3 (click)="exp3=!exp3" style="border-bottom:1px solid grey;">Heading 3</h3>
        </div>
    </div>
    <div class="row" style="border:0px solid red;overflow-y:auto;  height:70vh;" *ngIf="exp3">
        <div class="col-md-12" style="border:0px solid red;">
            <button md-raised-button (click)="increment3(list)">Add / Calculate Material Function</button>

            <md-card style="width:100%;" *ngFor="let item of calcs3; let i=index;">
            <md-card-header style="float: right; padding:5px;">
                <button md-raised-button>Calculate Labor</button>
                <button md-raised-button>Add CF</button>
                <button md-raised-button (click)="deleteTable3(i)"><md-icon>delete</md-icon></button>
            </md-card-header>
            <md-card-content>
                <table>
                    <thead>
                        <tr>
                            <th width="40px;"><md-icon (click)="addRow3(i)">add circle outline</md-icon></th>
                            <th width="40px;">Sr.No</th>
                            <th width="300px;">Particular</th>
                            <th colspan="3">Size</th>
                            <th width="40px;">No</th>
                            <th width="40px;">Sqmt</th>
                            <th width="40px;">cmt</th>
                            <th width="40px;">RMT</th>
                            <th width="40px;">Rate</th>
                            <th width="40px;">Amount</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th><input type="text" class="inp" ></th>
                            <th><input type="text" class="inp" ></th>
                            <th width="40px;"><input type="text" class="inp" ></th>
                            <th width="40px;"><input type="text" class="inp" ></th>
                            <th width="40px;"><input type="text" class="inp" ></th>
                            <th><input type="text" class="inp" ></th>
                            <th><input type="text" class="inp" ></th>
                            <th><input type="text" class="inp" ></th>
                            <th><input type="text" class="inp" ></th>
                            <th><input type="text" class="inp" ></th>
                            <th><input type="text" class="inp" ></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let calc3 of calcs3[i]; let j=index">
                            <td><md-icon (click)="deleteRow3(i,j)">delete</md-icon></td>
                            <td><input type="text" class="inp" ></td>
                            <td><input type="text" class="inp" ></td>
                            <td><input type="number" class="inp" [(ngModel)]="calc3[j]['v1']" ></td>
                            <td>x</td>
                            <td><input type="number" class="inp" [(ngModel)]="calc3[j]['v2']" ></td>
                            <td><input type="number" class="inp" [(ngModel)]="calc3[j]['v3']" ></td>
                            <td>{{calc3[j]['v1']*calc3[j]['v2']*calc3[j]['v3'] | number : '2.2-3'}}</td>
                            <td>{{calc3[j]['v1']*calc3[j]['v2']*calc3[j]['v3']*0.0012 | number : '2.2-3'}}</td>
                            <td>{{calc3[j]['v1']*calc3[j]['v2']*calc3[j]['v3']*0.0012*8000 | number : '2.2-3'}}</td>
                            <td><input type="number" class="inp" [(ngModel)]="calc3[j]['v4']" ></td>
                            <td>{{calc3[j]['v1']*calc3[j]['v2']*calc3[j]['v3']*0.0012*8000*calc3[j]['v4'] | number : '2.2-3'}}</td>
                        </tr>
                    </tbody>
                </table>
            </md-card-content>

            </md-card>
        </div>
    </div> -->
</div>