<div class="container-fluid">
    <div class="row">
        <div class="col-md-6" style="border:0px solid red;">
            <md-card style="width:100%">
                <md-input-container style="width:100%">
                    <input mdInput type="number" placeholder="Over Head (%)" [(ngModel)]="overhead">
                </md-input-container>
                <md-input-container style="width:100%">
                    <input mdInput type="number" placeholder="Profit (%)" [(ngModel)]="profit">
                </md-input-container>
                <md-input-container style="width:100%">
                    <input mdInput type="number" placeholder="Wastage (%)" [(ngModel)]="wastage">
                </md-input-container>
            </md-card>
        </div>
        <div class="col-md-6" style="padding-top:70px;padding-left:200px;">
            <button md-raised-button color="primary" style="padding:10px; font-size: 30px;" (click)="submitRACalcs()">Submit</button>
        </div>
    </div>
    <div class="row">
        <br>
    </div>
    <div class="row">
        <div class="col-md-12" style="margin-bottom:10px;">
            <h3 (click)="exp1=!exp1" style="border-bottom:1px solid grey;">Item Rate analysis</h3>
        </div>
    </div>
    <div class="row" style="border:0px solid grey;overflow-y:auto;  height:70vh;" *ngIf="exp1">
        <div class="col-md-12" style="border:0px solid grey;">
            <button md-raised-button (click)="increment1(list)" style="margin-top: 5px;">Add / Calculate Material</button>

            <md-card style="width:100%;margin-top: 10px;" *ngFor="let item of calcs1; let i=index;">
            <md-card-header style="float: right; padding:5px;">
                <button md-raised-button>Calculate Labor</button>
                <button md-raised-button *ngIf="addCF[i].length>0">Add CF</button>
                <button md-raised-button (click)="deleteTable1(i)">
                  <app-icon [iconName]="'ic_delete_black_24px'"></app-icon>
                </button>
            </md-card-header>
            <md-card-content>
                <table>
                    <thead>
                        <tr>
                            <th width="40px;">
                              <app-icon [iconName]="'ic_add_box_black_24px'" (click)="addRow1(i)"></app-icon>
                            </th>
                            <th width="40px;">Sr.No</th>
                            <th width="200px;">Particular</th>
                            <th colspan="3">Size</th>
                            <th width="40px;">Quantity</th>
                            <th width="40px;">Uom</th>
                            <th width="100px;">Wastage(%)</th>
                            <th width="80px;">Rate</th>
                            <th width="80px;" *ngIf="addCF[i].length>0">CF</th>
                            <th width="100px;">Amount</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th><input type="text" class="inp" ></th>
                            <th><md-select class="inp" name="sel">
                                <md-option *ngFor="let item of boqObj.lineItems" [value]="item.title" (click)="selRowItemId(item.id)">
                                  {{item.title}}
                                </md-option>
                              </md-select></th>
                            <th width="40px;"><input type="text" class="inp" ></th>
                            <th width="40px;"><input type="text" class="inp" ></th>
                            <th width="40px;"><input type="text" class="inp" ></th>
                            <th><input type="text" class="inp" ></th>
                            <th><input type="text" class="inp" ></th>
                            <th><input type="text" class="inp" ></th>
                            <th><input type="text" class="inp" ></th>
                            <th *ngIf="addCF[i].length>0"><input type="text" class="inp" ></th>
                            <th><input type="text" class="inp" ></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let calc1 of calcs1[i]; let j=index">
                            <td>
                              <app-icon [iconName]="'ic_delete_black_24px'" (click)="deleteRow1(i,j)"></app-icon>
                            </td>
                            <td>{{calcs1[i][j]['srno']}}</td>
                            <td>
                                    <md-input-container>
                                      <input mdInput placeholder="Material" type="text" [mdAutocomplete]="auto" [formControl]="queryField" >
                                    </md-input-container>

                                    <md-autocomplete #auto="mdAutocomplete">
                                        <ng-container *ngIf="materials1">
                                          <md-option *ngFor="let material of materials1" [value]="material.name" (click)="calcs1[i][j]['item_id']=material['id']"
                                          (click)="updateRow(material,i,j)">
                                            {{ material.name }}
                                          </md-option>
                                        </ng-container>
                                    </md-autocomplete>
                            </td>
                            <td><input type="number" class="inp" name="Size1" [(ngModel)]="calcs1[i][j]['length']"></td>
                            <td><input type="number" class="inp" name="Size2" [(ngModel)]="calcs1[i][j]['breadth']"></td>
                            <td><input type="number" class="inp" name="Size3" [(ngModel)]="calcs1[i][j]['thickness']"></td>
                            <td><input type="number" class="inp" name="qty" [(ngModel)]="calcs1[i][j]['quantity']"></td>
                            <td><input type="text" class="inp" name="uom" [(ngModel)]="calcs1[i][j]['uom']"></td>
                            <td><input type="number" class="inp" name="wastage" [(ngModel)]="calcs1[i][j]['wastage']" [attr.Value]="wastage"></td>
                            <td><input type="number" class="inp" name="rate" [(ngModel)]="calcs1[i][j]['rate']"></td>
                            <td *ngIf="addCF[i].length>0">
                                <md-select class="inp" [(ngModel)]="calcs1[i][j]['CF']">
                                  <md-option [value]="cfDropDown[i][j]['20mm']">{{ cfDropDown[i][j]['20mm'] }}</md-option>
                                  <md-option [value]="cfDropDown[i][j]['50mm']">{{ cfDropDown[i][j]['50mm'] }}</md-option>
                                </md-select>
                            </td>
                            <ng-container *ngIf="calcs1[i][j]['wastage']">
                                <td>{{calcs1[i][j]['length']*calcs1[i][j]['breadth']*calcs1[i][j]['thickness']*calcs1[i][j]['quantity']*(calcs1[i][j]['wastage']/100+1)*calcs1[i][j]['rate']*(overhead/100+1)*(profit/100+1) | number : '2.2-3'| nan }}</td>
                            </ng-container>
                            <ng-container *ngIf="!calcs1[i][j]['wastage']">
                                <td>{{calcs1[i][j]['length']*calcs1[i][j]['breadth']*calcs1[i][j]['thickness']*calcs1[i][j]['quantity']*calcs1[i][j]['rate']*(overhead/100+1)*(profit/100+1)*(wastage/100+1) | number : '2.2-3'| nan }}</td>
                            </ng-container>
                        </tr>
                    </tbody>
                </table>
            </md-card-content>
            <md-card-actions>
                <button md-button (click)="grandTotal(i)"><b>GrandTotal:{{grandTotalV | number : '2.2-3'| nan}}</b></button>
              </md-card-actions>
            </md-card>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="margin-bottom:10px;">
            <h3 (click)="exp2=!exp2" style="border-bottom:1px solid grey;">Overheads Rate analysis</h3>
        </div>
    </div>
    <div class="row" style="border:0px solid red;overflow-y:auto;  height:70vh;" *ngIf="exp2">
        <div class="col-md-12" style="border:0px solid red;">

            <md-card style="width:100%;">
            <md-card-content>
                <table>
                    <thead>
                        <tr>
                            <th width="40px;">
                              <app-icon [iconName]="'ic_add_box_black_24px'" (click)="addRow2(0)"></app-icon>
                            </th>
                            <th width="40px;">Sr.No</th>
                            <th width="300px;">Description</th>
                            <th width="40px;">Unit</th>
                            <th width="40px;">Duration</th>
                            <th width="40px;">Count</th>
                            <th width="40px;">Quantity</th>
                            <th width="40px;">Rate</th>
                            <th width="40px;">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let calc2 of calcs2; let j=index">
                            <td>
                              <app-icon [iconName]="'ic_delete_black_24px'" (click)="deleteRow2(0,j)"></app-icon>
                            </td>
                            <!-- delete button -->
                            <td>{{j+1}}</td>
                            <!-- Sr. No -->
                            <td><input type="text" class="inp" ></td>
                            <!-- Description -->
                            <td><input type="text" class="inp" ></td>
                            <!-- Unit -->
                            <td><input type="number" class="inp" [(ngModel)]="calc2['v1']" ></td>
                            <!-- Duration -->
                            <td><input type="number" class="inp" [(ngModel)]="calc2['v2']" ></td>
                            <!-- Count -->
                            <td>{{calc2['v1']*calc2['v2'] | number : '2.2-3' | nan}}</td>
                            <!-- Quantity -->
                            <td><input type="number" class="inp" [(ngModel)]="calc2['v3']" ></td>
                            <!-- Rate -->
                            <td>{{calc2['v1']*calc2['v2']*calc2['v3'] | number : '2.2-3' | nan}}</td>
                            <!-- amount -->
                        </tr>
                    </tbody>
                </table>
                <md-card-actions>
                <button md-button  (click)="grandTotal2()"><b>GrandTotal:{{grandTotal2V}}</b></button>
              </md-card-actions>
            </md-card-content>

            </md-card>
        </div>
    </div>
</div>
