 li{
  padding: 10px;
  border: 1px solid #009688;
}

li.active{
    border: 1px solid #009688;
    color: white;
    background-color: #009688 !important;
}

li:hover{
  cursor: pointer;
  color: white;
  background-color: #009688 !important;
}

li:hover .inpwidth{
  color: black;
}


ul li:not(:last-child) {
    border-right: none;
}

.inpwidth {
  width:50px;
}

.pagination {
    display: inline-flex;
    margin: 0px;
}
