<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <md-card>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4">
              <md-input-container class="full-width">
                <input mdInput placeholder="Project Name" class="inp" type="text" [mdAutocomplete]="projects"
                       [(ngModel)]="selectedProject.name"
                       (keyup)="searchProject(selectedProject.name)">
                  <md-autocomplete #projects="mdAutocomplete">
                  <md-option *ngFor="let project of projectsSuggesions | async" [value]="project.name">
                    {{project.name}}
                  </md-option>
                </md-autocomplete>
              </md-input-container>
            </div>
            <div class="col-md-4">
              <md-input-container class="full-width">
                <input mdInput placeholder="Boq Name" class="inp" type="text" [mdAutocomplete]="projects"
                       [(ngModel)]="selectedBoq.name" (keyup)="searchBoq(selectedBoq.name, 15)">
                <md-autocomplete #projects="mdAutocomplete">
                  <md-option *ngFor="let boq of boqsSuggesions | async" [value]="boq.name">
                    {{boq.name}}
                  </md-option>
                </md-autocomplete>
              </md-input-container>
            </div>
            <div class="col-md-4">
              <md-input-container class="full-width">
                <input mdInput placeholder="Line Item Name" class="inp" type="text" [mdAutocomplete]="projects"
                       [(ngModel)]="selectedLineItem.name" (keyup)="searchLineItem(selectedLineItem.name, selectedBoq.id)">
                <md-autocomplete #projects="mdAutocomplete">
                  <md-option *ngFor="let lineItem of lineItemsSuggesions | async" [value]="project.name">
                    {{project.name}}
                  </md-option>
                </md-autocomplete>
              </md-input-container>
            </div>
          </div>
        </div>
      </md-card>
    </div>
  </div>
</div>
