<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <form (ngSubmit)="addParentTask()" #addTask="ngForm">
      <md-card>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 float-right">
              <button md-raised-button [disabled]="!addTask.valid">Add Task</button>
              <button md-raised-button (click)="showGanttChart()">Gantt Chart</button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <md-input-container class="full-width">
                <input mdInput placeholder="Project Name" class="inp" type="text" [mdAutocomplete]="projects" name="projectName"
                       [(ngModel)]="selectedProject.name" required
                       (keyup)="searchProject(selectedProject.name)">
                  <md-autocomplete #projects="mdAutocomplete">
                  <md-option *ngFor="let project of projectsSuggesions | async" [value]="project.name" (click)="selectedID('proj',project.id)">
                    {{project.name}}
                  </md-option>
                </md-autocomplete>
              </md-input-container>
            </div>
            <div class="col-md-2">

            </div>
            <div class="col-md-5">
              <md-input-container class="full-width">
                <input mdInput placeholder="Boq Name" class="inp" type="text" [mdAutocomplete]="boqs" name="selectedBoqName" required
                       [(ngModel)]="selectedBoq.name" (keyup)="searchBoq(selectedBoq.name, selectedProject.id)">
                <md-autocomplete #boqs="mdAutocomplete">
                  <md-option *ngFor="let boq of boqsSuggesions | async" [value]="boq.name" (click)="selectedID('boq',boq.id)">
                    {{boq.name}}
                  </md-option>
                </md-autocomplete>
              </md-input-container>
            </div>
            <!--<div class="col-md-4">-->
              <!--<md-input-container class="full-width">-->
                <!--<input mdInput placeholder="Line Item Name" class="inp" type="text" [mdAutocomplete]="lineItems"-->
                       <!--&lt;!&ndash;[(ngModel)]="selectedLineItem.name" (keyup)="searchLineItems(selectedLineItem.name, selectedBoq.id)">&ndash;&gt;-->
                <!--<md-autocomplete #lineItems="mdAutocomplete">-->
                  <!--<md-option *ngFor="let lineItem of lineItemsSuggesions | async" [value]="lineItem.name" (click)="selectedID('line',lineItem.id)">-->
                    <!--{{lineItem.name}}-->
                  <!--</md-option>-->
                <!--</md-autocomplete>-->
              <!--</md-input-container>-->
            <!--</div>-->
          </div>
        </div>
      </md-card>
      </form>
    </div>
  </div>

  <div class="row">
    <ng-container *ngFor="let task of parentTasks; let i = index;">
      <ng-container *ngIf="i%3===0">
        <div class="row">
          <div class="col-md-12">
            <br>
          </div>
        </div>
      </ng-container>
      <div class="col-md-4">
        <md-card class="task">
          <div class="container-fluid">
            <div class="row bborder">
              <div class="col-md-6  zero-padding " style="padding-top: 7.5px;">
                <div>Task Name: <span class="parent-task" (click)="showParentTask(task)">{{task.name}}-{{task.id}}</span></div>
              </div>
              <div class="col-md-6  zero-padding">
                <button md-button (click)="createChildTask(task)" class="float-right">Add Task</button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 zero-padding overflow task-height flexcroll">
                <ul class="sub-task">
                  <ng-container *ngFor="let child_task of parentTasks; let j=index">
                    <li (click)="showChildTask(task,child_task)"><span>Sub Task {{child_task.id}}</span></li>
                  </ng-container>
                </ul>
              </div>
            </div>
          </div>
        </md-card>
      </div>
    </ng-container>
  </div>
