<md-toolbar color="primary" style="padding-top:0px;margin-top:0px;">
    <button md-icon-button (click)="sidenav.toggle()">
       <app-icon [iconName]="'ic_domain_white_24px'"></app-icon>
    </button>
    Cornea

    <span class="spacer"></span>
    <button md-icon-button [mdMenuTriggerFor]="appMenu">
       <app-icon [iconName]="'ic_more_vert_white_24px'"></app-icon>
    </button>
    <md-menu #appMenu="mdMenu" yPosition="below" xPosition="before">
      <button md-menu-item> Settings </button>
      <button md-menu-item> Help </button>
    </md-menu>
    <img md-list-avatar src="assets/images/person-placeholder.jpg" alt="..." class="roundimg" (click)="userBool=!userBool" #userimg>

</md-toolbar>

  <div #userpop id="userPopup" [style.display]="userBool ? 'inline-flex' : 'none'">
    <div class="talk-bubble"></div>
    <img md-list-avatar src="assets/images/person-placeholder.jpg" alt="..." class="roundimgUser">
    <div class="roundimgUser">
    <b>User Name</b><br>
    user@nomail.com<br>
    <button md-raised-button (click)="redirectLogin()">Log Out</button>
    </div>
  </div>

<md-sidenav-container class="example-sidenav-fab-container" [class.m2app-dark]="true">
  <md-sidenav #sidenav mode="over" opened="false">
    <div class="example-scrolling-content">
        <md-nav-list dense>
          <ng-container *ngFor="let link of links; let i=index">
            <ng-container *ngIf="link[0].length>1">

                  <md-list-item (click)="up[i][j]=!up[i][j]">
                     <a md-line><b>{{ link[0] }}</b></a>
                     <app-icon [@iconbool]="up[i][j]" [iconName]="'ic_keyboard_arrow_up_black_24px'" *ngIf="up[i][j]"></app-icon>
                     <app-icon [@iconbool]="up[i][j]" [iconName]="'ic_keyboard_arrow_down_black_24px'" *ngIf="!up[i][j]"></app-icon>
                  </md-list-item>

              <ng-container *ngIf="up[i][j]">
                <ng-container *ngFor="let smen of link; let j=index">
                  <ng-container *ngIf="j!==0">
                    <md-list-item class="submenu" (click)="routingFun(i,j)">
                       <a md-line>{{ smen }}</a>
                    </md-list-item>
                  </ng-container>
                </ng-container>
              </ng-container>
              <md-divider></md-divider>
            </ng-container>

            <ng-container *ngIf="link[0].length===1">
              <md-list-item  (click)="routingFun(i,0)">
                 <a md-line><b>{{ link }}</b></a>
              </md-list-item>
              <md-divider></md-divider>
            </ng-container>

          </ng-container>
        </md-nav-list>
    </div>
  </md-sidenav>
<!--   <div class="main-container" style="border:0px solid red;"> -->
    <!--<label>I am from pages component</label>-->
    <router-outlet></router-outlet>
<!--   </div> -->
</md-sidenav-container>
