<div class="container-fluid">
  <div class="dialogbox" >
    <div class="row">
      <div class="col-md-11">
        <h4 class ="title;" style="text-align: center" ><b> Parent Task Information</b> </h4>
      </div>
      <div class="col-md-1" >
        <app-icon style="float: right" [iconName]="'ic_cancel_black_24px'" (click)="dialogRef.close(true)"></app-icon>
      </div>
    </div>
    <hr/>

    <div class="row" style="text-align: left">
      <div class="col-md-12">
        <h4>Parent Task Details</h4>
        <table class="greyborder">
          <tr style="width: 100px;height: 40px">
            <th>Name</th>
            <td><md-input-container class="full-width">
              <input  mdInput name="name" [(ngModel)]="data.name" width="100%">
            </md-input-container></td>
          </tr>
          <tr style="width: 100px;height: 40px">
            <th>Description</th>
            <td>  <md-input-container class="full-width" >
              <input  mdInput name="description" [(ngModel)]="data.description" >
            </md-input-container></td>
          </tr>
          <tr style="width: 100px;height: 40px">
            <th>Start Date</th>
            <td>
              <md-input-container class="full-width">
                <input mdInput [mdDatepicker]="startdate" placeholder="Start Date"  class="full-width" [(ngModel)]="data.start_date">
                <button mdSuffix [mdDatepickerToggle]="startdate"></button>
              </md-input-container>
              <md-datepicker #startdate></md-datepicker>
            </td>
          </tr>
          <tr style="width: 100px;height: 40px">
            <th>End Date</th>
            <td>
              <md-input-container class="full-width">
                <input mdInput [mdDatepicker]="enddate" placeholder="End Date" class="full-width" [(ngModel)]="data.end_date">
                <button mdSuffix [mdDatepickerToggle]="enddate"></button>
              </md-input-container>
              <md-datepicker #enddate></md-datepicker>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
