.my-drop-zone {
  border: dotted 3px lightgray;
  text-align: center;
    margin-top: 2%; /* Add a top margin to avoid content overlay */
}

.nv-file-over {
  border: dotted 3px red;
}

/* Default class applied to drop zones on over */
.another-file-over-class {
  border: dotted 3px green;
}