<div class="container-fluid unselectable">
    <div class="row">
        <div class="col-md-12">
            <h3 class="heading">
                Add To Labour
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table>
                <thead>
                    <tr>
                        <th width="30%">Name</th>
                        <th width="5%">Age</th>
                        <th width="25%">Type</th>
                        <th width="10%">Category</th>
                        <th width="15%">Rate</th>
                        <th width="5%">UOM</th>
                        <th width="2%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input mdInput class="inp" type="text" [(ngModel)]="newLabour['name']" name="name">
                        </td>
                        <td>
                            <input mdInput class="inp" type="text" [(ngModel)]="newLabour['age']" name="age">
                        </td>
                        <td>
                            <md-select name="has_cf" class="inp"  [(ngModel)]="newLabour['type']" >
                               <md-option *ngFor="let type of typeList" [value]="type">{{ type }}</md-option>
                            </md-select>
                        </td>
                        <td>
                            <input mdInput class="inp" type="text" [(ngModel)]="newLabour['category']" name="category">
                        </td>
                        <td>
                            <input mdInput class="inp" type="text" [(ngModel)]="newLabour['rate']" name="rate">
                        </td>
                        <td>
                            <md-select name="uom" class="inp"  [(ngModel)]="newLabour['uom']" >
                               <md-option *ngFor="let uom of uomList" [value]="uom">{{ uom }}</md-option>
                            </md-select>
                        </td>

                        <td class="index">
                            <app-icon [iconName]="'ic_add_box_white_24px'" (click)="postLabour()"></app-icon>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3 class="heading">
                Labour List
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">
            <app-pagination *ngIf="pageCount" [pageCount]="pageCount" (pageSelected)=selectPage($event) (perPageCount)="perPageCountChange($event)">
            </app-pagination>
        </div>
        <div class="col-md-3">
            <input type='text' class="full-width search-box" placeholder='Search Whole Table...' (keyup)='generalFilter($event, 0)' />
        </div>
    </div>

    <div class="row">
    <br>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table>
                <thead>
                    <tr>
                        <th width="5%">Sr.No.</th>
                        <th width="30%">Name</th>
                        <th width="5%">Age</th>
                        <th width="20%">Type</th>
                        <th width="10%">Category</th>
                        <th width="15%">Rate</th>
                        <th width="5%">UOM</th>
                        <th width="4%"></th>
                    </tr>
                    <tr>
                        <td width="5%">
                            <input type='text' class="full-width"
                            placeholder='Sr.No...' (keyup)='individualFilter(searchOpt, "sr", 0)' [(ngModel)]="searchOpt['sr']" name="sr" />
                        </td>
                        <td width="30%">
                            <input type='text' class="full-width"
                            placeholder='Name...' (keyup)='individualFilter(searchOpt, "name", 0)' [(ngModel)]="searchOpt['name']" name="Name" />
                        </td>
                        <td width="5%">
                            <input type='text' class="full-width"
                            placeholder='Age...' (keyup)='individualFilter(searchOpt, "age", 0)' [(ngModel)]="searchOpt['age']" name="Age" />
                        </td>
                        <td width="20%">
                            <input type='text' class="full-width"
                            placeholder='Type' (keyup)='individualFilter(searchOpt, "type", 0)' [(ngModel)]="searchOpt['type']" name="Type" />
                        </td>
                        <td width="10%">
                            <input type='text' class="full-width"
                            placeholder='Category' (keyup)='individualFilter(searchOpt, "category", 0)' [(ngModel)]="searchOpt['category']" name="Category" />
                        </td>
                        <td width="15%">
                            <input type='text' class="full-width"
                            placeholder='Rate...' (keyup)='individualFilter(searchOpt, "rate", 0)' [(ngModel)]="searchOpt['rate']" name="Rate" />
                        </td>
                        <td width="5%">
                            <input type='text' class="full-width"
                            placeholder='UOM' (keyup)='individualFilter(searchOpt, "uom", 0)' [(ngModel)]="searchOpt['uom']" name="UOM" />
                        </td>
                        <td width="4%"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let labour of labours | async; let i=index">
                        <ng-container *ngIf="ed[i]">
                            <td width="5%"><input type='text' class="full-width" [(ngModel)]="labour['sr']"></td>
                            <td width="30%"><input type='text' class="full-width" [(ngModel)]="labour['name']"></td>
                            <td width="5%"><input type='text' class="full-width" [(ngModel)]="labour['age']"></td>
                            <td width="20%">
                                <md-select name="has_cf" class="inp"  [(ngModel)]="labour['type']" >
                                   <md-option *ngFor="let type of typeList" [value]="type">{{ type }}</md-option>
                                </md-select>
                            </td>
                            <td width="10%"><input type='text' class="full-width" [(ngModel)]="labour['category']"></td>
                            <td width="15%"><input type='text' class="full-width" [(ngModel)]="labour['rate']"></td>
                            <td width="5%">
                                <md-select name="uom" class="full-width"  [(ngModel)]="labour['uom']" >
                                   <md-option *ngFor="let uom of uomList" [value]="uom">{{ uom }}</md-option>
                                </md-select>
                            </td>
                            <td width="4%" class="index">
                                <div class="flex-box">
                                    <app-icon [iconName]="'ic_done_white_24px'" (click)="ed[i]=!ed[i]; putLabour(labour)"></app-icon>
                                    <!-- <app-icon [iconName]="'ic_delete_white_24px'" (click)="delRow(labour)"></app-icon> -->
                                </div>
                            </td>
                        </ng-container>
                        <ng-container *ngIf="!ed[i]">
                            <td width="5%">{{labour['sr']}}</td>
                            <td width="30%">{{labour['name']}}</td>
                            <td width="5%">{{labour['age']}}</td>
                            <td width="20%">{{labour['type']}}</td>
                            <td width="10%">{{labour['category']}}</td>
                            <td width="15%">{{labour['rate']}}</td>
                            <td width="5%">{{labour['uom']}}</td>
                            <td width="4%" class="index">
                                <div class="flex-box">
                                    <app-icon [iconName]="'ic_create_white_24px'" (click)="ed[i]=!ed[i]"></app-icon>
                                    <app-icon [iconName]="'ic_delete_white_24px'" (click)="deleteLabour(labour)"></app-icon>
                                </div>
                            </td>
                        </ng-container>
                    </tr>
                </tbody>
            </table>
            <div>

            </div>
        </div>
    </div>

</div>