.inp{
    width:100%;
    border:0px;
}
md-icon, h3:hover{
    cursor: pointer;
}
.full-width{
    width: 100%;
}

li{
  padding: 10px;
  border: 1px solid grey;
}
li:hover{
  cursor: pointer;
  background-color: grey !important;
}
ul li:not(:last-child) {
    border-right: none; /* Prevent double borders */
}