.screenMargin{
  height: 100%;
  width: 85%;
  background-color: white;
  left: 0;
  top: 0;
  margin-top:2%;
  margin-left:2%;
  margin-right: 2%;
}

h3{
    border-bottom: 1px solid grey;
}
.panel-danger .panel-heading{
    background-color: #B71C1C;
    color: white;
}
.panel-warning .panel-heading{
    background-color: #1B5E20;
    color: white;
}
.panel-primary .panel-heading{
    background-color: #0D47A1;
    color: white;
}