<!--<div style="margin-top:2%"></div>-->
<div class="container-fluid unselectable">
      <div class="row">
        <div class="col-md-12">
            <h3 class="heading">List of Employees</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="panel panel-danger">
            <div class="panel-heading">Tier: Project Manager</div>
            <div class="panel-body">
              <div *ngFor="let item of pmList" class="panel panel-default" dnd-draggable [dragData]="item">
                <div class="panel-body">{{item.first_name + " " + item.last_name}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-warning">
            <div class="panel-heading">Tier: Supervisor</div>
            <div class="panel-body">
              <div *ngFor="let item of superList" class="panel panel-default" dnd-draggable [dragData]="item">
                <div class="panel-body">{{item.first_name + " " + item.last_name}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-primary">
            <div class="panel-heading">Tier: Executive</div>
            <div class="panel-body">
              <div *ngFor="let item of execList" class="panel panel-default" dnd-draggable [dragData]="item">
                <div class="panel-body">{{item.first_name + " " + item.last_name}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row hding">
        <div class="col-md-12">
            <h3 class="heading">Employee Rolls Assigned</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div dnd-droppable class="panel panel-danger" [allowDrop]="allowDropFunction(pm_id)" (onDropSuccess)="addItems($event)">
              <div class="panel-heading">
               Project Manager
              </div>
              <div class="panel-body">
                <div *ngFor="let item of projectManagerUsers" class="panel panel-default">
                    <div class="panel-body">{{item.first_name + " " + item.last_name}}</div>
                </div>
              </div>
            </div>
        </div>
        <div class="col-md-4">
          <div dnd-droppable class="panel panel-warning" [allowDrop]="allowDropFunction(sup_id)" (onDropSuccess)="addItems($event)">
              <div class="panel-heading">
               Supervisors
              </div>
              <div class="panel-body">
                <div *ngFor="let item of supervisorUsers" class="panel panel-default">
                    <div class="panel-body" (click)="openDialogSup(item)">{{item.first_name + " " + item.last_name}}</div>
                </div>
              </div>
            </div>
        </div>
        <div class="col-md-4">
          <div dnd-droppable class="panel panel-primary" [allowDrop]="allowDropFunction(exec_id)" (onDropSuccess)="addItems($event)">
              <div class="panel-heading">
                Executives
              </div>
              <div class="panel-body">
                <div *ngFor="let item of executives" class="panel panel-default">
                    <div class="panel-body" (click)="openDialogExe(item)">{{item.first_name + " " + item.last_name}}</div>
                </div>
              </div>
            </div>
        </div>
      </div>
</div>
        <!--<pre>allowDropFunction(baseInteger: any): any {{ '{' }}
  return (dragData: any) => dragData % baseInteger === 0;
{{ '}' }}</pre>-->

<!-- <div id="org_chart" [chartData]="org_ChartData" [chartOptions]="org_ChartOptions" chartType="OrgChart"
     GoogleChart></div>
 -->
