<div class="container-fluid unselectable">
  <div class="row">
    <div class="col-md-12">
      <h3 class="heading">Rate Analysis</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 overflow" style="height:20vh">
      <div class="row">
        <div class="col-md-12 flex-box">
            <div *ngFor="let boq of boqs; let i=index" style="padding-right:.5em;">
                <table>
                    <thead>
                      <tr>
                        <th><button md-button (click)="getRateAnalysis(boq)" class="full-width"><h4>{{boq.name}}</h4></button></th>
                        <th class="index"><app-icon [iconName]="'ic_add_box_white_24px'" (click)="redirectToUploadScreen(boq)"></app-icon></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let globalRateAnalysis of boq.ra">
                        <td colspan="2"><button md-button (click)="openGlobalRateAnalysis(globalRateAnalysis, boq)" class="full-width"> {{globalRateAnalysis.title}}</button></td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3 class="heading">Selected Rate Analysis</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <md-tab-group>
          <md-tab label="Rate Analysis">
            <div class="container-fluid unselectable">
                <div class="row">
                    <div class="col-md-4">
                        <table>
                            <thead>
                                <tr>
                                    <th>Over Head (%)</th>
                                    <th>Profit (%)</th>
                                    <th>Wastage (%)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                <td><input mdInput class="inp" color="primary" type="number" placeholder="Over Head (%)" [(ngModel)]="overhead" (change)="overheadCurrection()"></td>
                                <td><input mdInput class="inp" type="number" placeholder="Profit (%)" [(ngModel)]="profit" (change)="profitCurrection()"></td>
                                <td><input mdInput class="inp" type="number" placeholder="Wastage (%)" [(ngModel)]="wastage" (change)="wastageCurrection()"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <br>
                </div>
        <ng-container *ngFor="let lineItem of lineItems; let i=index">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="heading" >{{lineItem.title}} Rate analysis</h4> <!--(click)="dl[i]=!dl[i]"-->
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                            <table>
                        <caption>Material Rate Analysis</caption>
                        <thead>
                            <tr>
                                <th width="2%" class="index">
                                  <app-icon [iconName]="'ic_add_box_white_24px'" *ngIf="wastage>0 && overhead > 0 && profit > 0"
                                            (click)="addMaterialRateAnalysis(i)"></app-icon>
                                </th>
                                <th width="3%">Sr.No</th>
                                <th width="30%">Particular</th>
                                <th colspan="3">Size (L x B x T)</th>
                                <th width="5%">Nos</th>
                                <th width="3%">Uom</th>
                                <th width="5%">Wastage(%)</th>
                                <th width="15%">Rate(INR)</th>
                                <th width="7%">CF</th>
                                <th width="10%">Amount(INR)</th>
                                <th width="15%">Quantity</th>
                                <th width="15%">Wastage(INR)</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th><input type="text" class="inp" name="srno" [(ngModel)]="lineItem['srno']"></th>
                                <th>{{lineItem.description}}</th>
                                <th width="5%"><input type="text" class="inp" name="ln" [(ngModel)]="lineItem.length"></th>
                                <th width="5%"><input type="text" class="inp" name="bd" [(ngModel)]="lineItem.breadth"></th>
                                <th width="5%"><input type="text" class="inp" name="th" [(ngModel)]="lineItem.thickness"></th>
                                <th><input type="text" class="inp" name="qt" [(ngModel)]="lineItem.quantity"></th>
                                <th><input type="text" class="inp" name="un" [(ngModel)]="lineItem.unit"></th>
                                <th><input type="text" class="inp" name="ws" [(ngModel)]="lineItem.wastage"></th>
                                <th><input type="text" class="inp" name="rt" [(ngModel)]="lineItem.rate"></th>
                                <th><input type="cf" class="inp" name="inp" [(ngModel)]="lineItem.cf"></th>
                                <th><input type="text" class="inp" name="amt" [(ngModel)]="lineItem.amount"></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        <!--this is to load material rate analysis in respect to the line item-->
                            <tr *ngFor="let mat of itemRateAnalysis[i].materialRateAnalysis; let j=index">
                                <td class="index">
                                  <app-icon [iconName]="'ic_delete_white_24px'" (click)="deleteMaterialRateAnalysis(i,j)"></app-icon>
                                </td>
                                <td>{{lineItems[i]?.materials[j]?.srno}}</td>
                                <td>
                                    <input mdInput placeholder="Material" class="inp" type="text" [mdAutocomplete]="auto" #searchBox
                                    (keyup)="searchMaterials(searchBox.value)" value="{{lineItems[i]?.materials[j]?.name}}">
                                    <md-autocomplete #auto="mdAutocomplete">
                                      <md-option *ngFor="let material of materials | async" [value]="material.name" (click)="updateRow(material,i,j)">
                                        {{ material.name }}
                                      </md-option>
                                    </md-autocomplete>
                                </td>
                                <td><input mdInput type="number" class="inp" name="Size1"
                                           [attr.Value]="1" [(ngModel)]="itemRateAnalysis[i].materialRateAnalysis[j]['length']" (change)="materialTotal(i)"></td>
                                <td><input mdInput type="number" class="inp" name="Size2"
                                           [attr.Value]="1" [(ngModel)]="itemRateAnalysis[i].materialRateAnalysis[j]['breadth']" (change)="materialTotal(i)"></td>
                                <td><input mdInput type="number" class="inp" name="Size3"
                                           [attr.Value]="1" [(ngModel)]="itemRateAnalysis[i].materialRateAnalysis[j]['thickness']" (change)="materialTotal(i)"></td>
                                <td><input mdInput type="number" class="inp" name="qty"
                                           [(ngModel)]="itemRateAnalysis[i].materialRateAnalysis[j]['quantity']" (change)="materialTotal(i)"></td>
                                <td><input mdInput type="text" class="inp" name="uom"
                                           [(ngModel)]="itemRateAnalysis[i].materialRateAnalysis[j]['uom']" (change)="materialTotal(i)"></td>
                                <td><input mdInput type="number" class="inp" name="wastage"
                                           [(ngModel)]="itemRateAnalysis[i].materialRateAnalysis[j]['wastage']"
                                            [attr.Value]="wastage" (change)="materialTotal(i)"></td>
                                <td><input mdInput type="number" class="inp" name="rate"
                                           [(ngModel)]="itemRateAnalysis[i].materialRateAnalysis[j]['rate']" (change)="materialTotal(i)"></td>
                                <td>
                                    <select class="inp" [(ngModel)]="cf_price" (change)="materialTotal(i)" style="padding: 0px">
<!--                                       <md-option [value]="this.cfList">{{ this.cfList }}</md-option> -->
                                      <option [value]="0">0</option>
                                    </select>
                                </td>
                                <td>{{itemRateAnalysis[i].materialRateAnalysis[j]['amount'] | nan | number : '2.2-3'}}</td>
                                <td>{{itemRateAnalysis[i].materialRateAnalysis[j]['length']
                                * itemRateAnalysis[i].materialRateAnalysis[j]['breadth']
                                * itemRateAnalysis[i].materialRateAnalysis[j]['thickness']
                                * itemRateAnalysis[i].materialRateAnalysis[j]['quantity']}}</td>
                                <td>{{itemRateAnalysis[i].materialRateAnalysis[j]['wastage']/100
                                * itemRateAnalysis[i].materialRateAnalysis[j]['amount'] | nan | number: '2.2-3'}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table>
                        <caption>Labour Rate Analysis</caption>
                        <thead>
                          <tr>
                            <th width="40px;" class="index">
                              <app-icon [iconName]="'ic_add_box_white_24px'" (click)="addLabourRateAnalysis(i)"></app-icon>
                            </th>
                            <th>Sr.No.</th>
                            <th>Name</th>
                            <th>Length</th>
                            <th>Breadth</th>
                            <th>Thickness</th>
                            <th>UOM</th>
                            <th>Rate</th>
                            <th>Amount</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of itemRateAnalysis[i].labourRateAnalysis; let j=index">
                            <td class="index">
                              <app-icon [iconName]="'ic_delete_white_24px'" (click)="deleteLabourRateAnalysis(i,j)"></app-icon>
                            </td>
                            <td>{{lineItems[i]?.labours[j]?.srno}}</td>
                            <td>
                              <input mdInput placeholder="Labour" class="inp" type="text" [mdAutocomplete]="auto" #searchBox
                              (keyup)="searchLabours(searchBox.value)" value="{{lineItems[i]?.labours[j]?.name}}">
                              <md-autocomplete #auto="mdAutocomplete">
                                <md-option *ngFor="let labour of labours | async" [value]="labour.name" (click)="updateLabourRow(labour,i,j)">
                                  {{ labour.name }}
                                </md-option>
                              </md-autocomplete>
                            </td>
                            <td><input type="number" class="inp" placeholder="Length" name="Lenght" (keyup)="labourTotal(i)" [(ngModel)]="itemRateAnalysis[i].labourRateAnalysis[j]['length']"></td>
                            <td><input type="number" class="inp" placeholder="Breadth" name="Breadth" (keyup)="labourTotal(i)" [(ngModel)]="itemRateAnalysis[i].labourRateAnalysis[j]['breadth']"></td>
                            <td><input type="number" class="inp" placeholder="Thickness" name="Thickness" (keyup)="labourTotal(i)" [(ngModel)]="itemRateAnalysis[i].labourRateAnalysis[j]['thickness']"></td>
                            <td><input type="text" class="inp" placeholder="UOM" name="UOM" (keyup)="labourTotal(i)" [(ngModel)]="itemRateAnalysis[i].labourRateAnalysis[j]['uom']"></td>
                            <td><input type="number" class="inp" placeholder="Rate" name="Rate" (keyup)="labourTotal(i)" [(ngModel)]="itemRateAnalysis[i].labourRateAnalysis[j]['rate']"></td>
                            <td>{{itemRateAnalysis[i].labourRateAnalysis[j]['amount'] | nan | number : '2.1-2'}}</td>
                          </tr>
                        </tbody>
                    </table>
                    <table>
                        <caption>Break Up</caption>
                        <tbody>
                            <tr>
                                <td colspan=12>
<!--                                 <button md-raised-button color="primary" (click)="openDialogSup(i)">Labour Calculation</button> -->
                                <button md-raised-button color="primary" (click)="postItemRateAnalysis(i)" *ngIf="!firstPost">Save</button>
                                <span class="example-spacer"></span>
                                <md-chip-list class="float-right">
                                <md-chip color="primary" selected="true">Overhead Margin: <b>{{itemRateAnalysis[i].overhead_margin | nan | number : '2.1-2'}}</b></md-chip>
                                <md-chip color="primary" selected="true">Profit Margin: <b>{{itemRateAnalysis[i].profit_margin | nan | number : '2.1-2'}}</b></md-chip>
                                <md-chip color="primary" selected="true">Labour Total: <b>{{itemRateAnalysis[i].labour_total | nan | number : '2.1-2'}}</b></md-chip>
                                <md-chip color="primary" selected="true">Grand Total: <b>{{itemRateAnalysis[i].grand_total | nan | number : '2.1-2'}}</b></md-chip>
                                </md-chip-list>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
        </ng-container>
            </div>
          </md-tab>
          <md-tab label="OverHead">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="heading">Overheads Rate analysis</h3>
                    </div>
                </div>

                <div class="row overflow">
                    <div class="col-md-12">
                        <button md-raised-button class="float-right">Save</button>
                        <table>
                            <thead>
                                <tr>
                                    <th width="40px;" class="index">
                                      <app-icon [iconName]="'ic_add_box_white_24px'" (click)="addRow2(0)"></app-icon>
                                    </th>
                                    <th width="40px;">Sr.No</th>
                                    <th width="300px;">Description</th>
                                    <th width="40px;">Unit</th>
                                    <th width="40px;">Duration</th>
                                    <th width="40px;">Count</th>
                                    <th width="40px;">Quantity</th>
                                    <th width="40px;">Rate</th>
                                    <th width="40px;">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let calc2 of calcs2; let j=index">
                                    <td class="index">
                                      <app-icon [iconName]="'ic_delete_white_24px'" (click)="deleteRow2(0,j)"></app-icon>
                                    </td>
                                    <!-- delete button -->
                                    <td>{{j+1}}</td>
                                    <!-- Sr. No -->
                                    <td><input type="text" class="inp" ></td>
                                    <!-- Description -->
                                    <td><input type="text" class="inp" ></td>
                                    <!-- Unit -->
                                    <td><input type="number" class="inp" [(ngModel)]="calc2['v1']" ></td>
                                    <!-- Duration -->
                                    <td><input type="number" class="inp" [(ngModel)]="calc2['v2']" ></td>
                                    <!-- Count -->
                                    <td>{{calc2['v1']*calc2['v2'] | number : '2.2-3' | nan}}</td>
                                    <!-- Quantity -->
                                    <td><input type="number" class="inp" [(ngModel)]="calc2['v3']" ></td>
                                    <!-- Rate -->
                                    <td>{{calc2['v1']*calc2['v2']*calc2['v3'] | number : '2.2-3' | nan}}</td>
                                    <!-- amount -->
                                </tr>
                            </tbody>
                        </table>
                        <button md-button  (click)="grandTotal2()"><b>GrandTotal:{{grandTotal2V}}</b></button>
                    </div>
                </div>
            </div>
          </md-tab>
          <md-tab label="Report">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12">
                  <h3 class="heading">Reports</h3>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <table>
                    <thead>
                        <tr>
                          <th width="5%">Sr.No.</th>
                          <th width="30%">Material Name</th>
                          <th width="25%">Usage Count</th>
                          <th width="15%">Rate</th>
                          <th width="5%">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let mList of materialreportusagelist; let i=index">
                          <td width="5%">{{mList['srno']}}</td>
                          <td width="30%">{{mList['name']}}</td>
                          <td width="25%">{{mList['material_count']}}</td>
                          <td width="5%">{{mList['rate']}}</td>
                          <td width="15%">{{mList['amount']}}</td>
                        </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="row">
        <!--         <div class="col-md-12">
                    <ngx-charts-advanced-pie-chart
                      [view]="view"
                      [scheme]="colorScheme"
                      [results]="singlePo"
                      [gradient]="gradient"
                      (select)="updatePoList($event)">
                    </ngx-charts-advanced-pie-chart>
                </div> -->

              </div>
            </div>
          </md-tab>
        </md-tab-group>
    </div>
  </div>
</div>
